html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

@keyframes loadAnim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

body{
    animation: 1s ease-out 0s 1 loadAnim;
}

#header{
    width:100%;
    height:50px;
    display: flex;
    position:fixed;
    z-index: 100;
    top:0;
    justify-content: space-around;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    background-color:white;
}

#logo{
    padding:8px;
}

#navbar{
    display:flex;
    justify-content: flex-start;
}

.navItem {
    padding:12px;
}

.navItem a{
    text-decoration: none;
    color: black;
    transition: color 0.4s;
}

.navItem a.active {
    color:#5fb962;
}

.navItem a:hover{
    color:#5fb962;
}

#home{
    width:100%;
    height:90vh;

    background-image: url('img/hero-bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
}

#homeHeading{
    margin-top:60px;
    color:#5fb962;
}

#homeSubHeading{
    color:rgba(0,0,0,0.5);
}

#homeImg{
    max-width:100%;
    padding: 10px;
}

#btnHome{
    display: flex;
    justify-content: center;
}

#btn a{
    text-decoration: none;
    color:#5fb962;
    background-color: white;
    border: 2px solid #5fb962;
    border-radius: 20px;
    padding:10px 15px;
    width:10%;
    transition: color 0.4s;
    transition: background-color 0.4s;
}

#btn a:hover{
        color:white;
        background-color: #5fb962;
}
#storeP{
    display: flex;
    justify-content: center;
}
#stores{
    display:flex;
    justify-content: space-evenly;  
    margin-top:2em;
}

.store a{
    padding:10px;
    text-decoration: none;
    color:rgba(0,0,0,0.6);
    transition: color 0.4s;
    font-size:15px;
}

.store a:hover{
    color:#5fb962;
}

#subHome{
    width:100%;
    text-align: center;
    margin-top: 3%;
}

#subHome h1{
    color: rgba(0,0,0,0.7);
}

#subHome p{
    color:rgba(0,0,0,0.6);
}

#subHomeCards {
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.subHomeCard{
    text-align: center;
    width:400px;
    padding:50px 20px;
    margin:20px;
    transition: box-shadow 0.4s;
}

.subHomeCard * {
    padding:10px;
}

.subHomeCard:hover{
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
}

.subHomeCard a {
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    transition: color 0.4s;
}

.subHomeCard a:hover{
    color:#5fb962;
}

.subHomeCard img {
    width:70px;
    height:auto;
}

#about {
    display: flex;
    justify-content: center;
    width:100%;
    margin-top:50px;
}

#about #aboutContainer{
    width:50%;
    display: flex;
    justify-content: center;
}
#aboutImg {
    margin:50px;
}
#aboutText{
    margin-top:60px;
}
#aboutText h1 span{
    font-weight: normal;
    color:rgba(0,0,0,0.7);
}
#aboutText p{
    color:rgba(0,0,0,0.6);
}
#about  img{
    width:300px;
    height:auto
}
#aboutText ul{
    list-style: disc;
    list-style-type: square;
}
#aboutText li{
    color:rgba(0,0,0,0.7);
    padding:3px;
}

#features{
    margin-top: 30px;
    width:100%;
    text-align: center;
}

#features span{
    font-size:3em;
    padding:8px;
}

#featureCards{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featureCard{
    text-align: center;
    width:280px;
    padding:30px 20px;
    margin:20px;
    transition: box-shadow 0.4s;
}

.featureCard * {
    padding:10px;
}
.featureCard p{
    color:rgba(0,0,0,0.4);
}

.featureCard:hover{
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
}

.featureCard img {
    width:70px;
    height:auto;
}

#screenshots{
    width:100%;
    margin-top:100px;
    text-align: center;
    padding:10px;
}
#screenshots span, #team span{
    font-size: 3em;
    color:rgba(0,0,0,0.6);
}
#screenshots p, #team p{
        color:rgba(0,0,0,0.5);
}

#gallery {
        display: flex;
        justify-content: center;
}

#gallery .pic img {
    width:220px;
    height:auto;
    margin:40px;
}

#popupDiv{
    width:100%;
}

#popupDiv img{
    width:100%;
    height:350px;
    filter: brightness(20%);
    z-index: 0;
}
#popupDiv #popup img{
    width:100px;
    height:100px;
    margin-top:-200px;
    filter: brightness(100%);
    z-index: 1;
    transition: width 0.2s;
    transition: height 0.2s;   
    transition: margin-top 0.2s;   
}
#popupDiv #popup img:hover{
    width:120px;
    height:120px;
    margin-top:-210px;
}

#team{
    width:100%;
    text-align:center;
}
#team .pic{
    position: relative;
}

#team #gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#team #gallery .hoverContent{
    position: absolute;
    bottom:0;
    background-color: white;
    width:100%;
    padding:12px;
}
#team #gallery .hoverContent:hover{
    position: absolute;
    bottom:0;
    background-color: white;
    width:100%;
    padding:12px;
}
#team .hoverContent i{
     color: gray;
     padding:10px;
     transition: color 0.4s;
}

#team .hoverContent i:hover{
    color: #5fb962;
}

#quotes{
    width:100%;
    display:flex;
    justify-content: center;
}

.quote{
    max-width: 700px;
    margin:100px;
    margin-top:80px;
    transition: box-shadow 0.4s;
    padding:50px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
}
.quote h1{
    color: rgba(0,0,0,0.6);
}

.quote:hover{
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);
}

#pricing {
    width:100%;
    text-align: center;
    margin-top:40px;
}

#pricing span{
    font-size: 3EM;
    color:rgba(0,0,0,0.6);
}

#pricing p{
    color:rgba(0,0,0,0.4);
    padding:15px;
}

#pricingCards{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pricingCard{
    margin:20px;
    padding:20px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);   
    transition: box-shadow 0.4s; 
}

.pricingCard:hover{
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);    
}

.pricingCard h4, .pricingCard h2 {
    padding:20px;
}

.pricingCard .buy{
    color:white;
    padding:14px;
    margin:10px;
    background-color:#5fd262;
    border-radius: 30px;
    transition: background-color 0.4s;
}
.pricingCard  a{
    text-decoration: none;
}
.pricingCard .buy:hover{
    background-color: #5fb962;
}

#blog{
    width:100%;
    margin-top:7em;
    text-align: center;
}
#blog span{
    color:rgba(0,0,0,0.6);
    font-size: 3em;
    margin:15px;
}
#blog p{
    color:rgba(0,0,0,0.5);
    margin:15px;
}

#posts {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.post{
    margin:20px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);   
    transition: box-shadow 0.4s;
    width:280px;
    text-overflow: ellipsis;
}

.post img{
    width:100%;
    height:auto;
}

.postTextContainer{
    width:100%;
    padding:10px;
}
.post a {
    text-decoration: none;
    color:rgba(0,0,0,0.6);
    transition: color 0.4s;
}

.post a:hover{
    color:#5fb962
}


